.filter {
    display: flex;
    gap: 20px;
}

.select {
    background-color: transparent;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: white;
}

option {
    color: black;
}

.select:focus {
    outline: none;
    border-color: #007bff;
}
